.cambox{
  margin-top: 10vh;
  position: relative ;
  height: 70vh ;
  width: 70vww;
  margin-bottom: 10vh;
}






/* .soundslider {
    display: flex;
    align-items: center; 
    width: 20vw;
    padding-right: 15px;
  }
  
  .soundslider .icon {
    flex: none;
    width: auto; 
  }
  
  .soundslider .slider {
    flex: 1; 
    margin-left: 10px; }
   */

/* -------------------------------------------------------------------------------------------------------------------------------  */
.ButtonParent {
    display: flex;
    gap: 7vw;
    justify-content: space-evenly;
}

.box {
    display: block;
    margin: 2em 0 1em 0;
    background-color: rgb(49, 102, 86);
    position: relative;
    width: 27vw;
    padding: 1em 0;
    border: 0;
    border-radius: 0.9em;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 30px;
}

.box:hover {
    transform: scale(1.05);
}

/* -------------------------------------------------------------------------------------------------------------------------------  */

.flex-container {
    display: flex;
    margin-top: 30px;
  }
  
  .flex-item {
    flex: 1;
    border: 1px solid #000; 
    padding: 10px;
    background: linear-gradient(to right,#0f1623 ,#101b27);
    height: 50vh;
    color: white; /* Text color for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid white;
    border-collapse: collapse;
  }
  .flex-item:hover{
    scale: 1.025;
  }
/* ------------------------------------------------------------------------------------------------------------------------------- */
.header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    gap: 70vw;
    margin-bottom:15px ;
    width: 100vw;
}

.headerLeft {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    scale: 1.4;
    margin: 5px;
    margin-left: 15px;
    position: relative;
    left: 40px;
    
}


.headerRight {
    position: relative;
    right: 5%;
    color: rgba(170, 102, 77, 0.265);
}
ModeToggle{
    color: aquamarine;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.ModeToggle {
    position: relative;
    right: 5vw;
}
